*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background:url('/static/images/home.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: fit-content;
}
#container{

    margin: auto;
    padding: 50px 100px;
    
}

#container li{
    color: darkred;
}

h1{
    text-align:left;
    color: goldenrod;
    
}
#body{
    
    
}
label{
    display: inline-block;
    width:100px;
}

.block{
    width: 300px;
    border: solid 2px black;
    margin: 20px 20px 0px 0px;
    background-color: gray;
    padding: 5px;
}

#main-t{
    font-size: 100px;
    font-family: cursive;
}