*{
    margin: 0px;
    padding: 0.1px;

}
#header{
    background:url('/static/images/edit.jpg') no-repeat center;
    background-size: cover;
}
h1{
    text-align: center;
    color: goldenrod;
}
#main{
    width: 60%;

    margin:auto;
}
