#nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0% 30%;
    margin: 5% 0%;
    list-style: none;
}
#nav ul a{
    color: goldenrod;
    background-color: brown;
    border-radius: 3px;
    padding: 2px 4px;
    
}


html{
    padding-top: 0px;
}
#header{
    font-family: cursive;
}