*{
    margin: 0px;
    padding: 0.1px;

}
#header{
    background:url('/static/images/reservation.jpg') no-repeat center;
    background-size: cover;
}


h1{
    text-align: center;
    color: goldenrod;
}

#main{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    color: goldenrod;
    font-family: cursive;
}
h2{
    margin: 20px 0px;
}

#main img{
    margin-top: 50px;
    width: 400px;
}