*{
    margin: 0px;
    padding: 0.1px;

}
#header{
    background:url('/static/images/view.jpg') no-repeat center;
    background-size: cover;
}

h1{
    text-align: center;
    color: goldenrod;
}

#res{
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    color: goldenrod;
    font-size: 30px;
}

img{
    width: 300px;
}

a{
    text-decoration: none;
    background-color: goldenrod;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
}

#map{
    margin: auto;
    display: block;
    margin-top: 50px;
}