<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="nav">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/dashboard/add">New Restaurant</a></li>
                    <li><a href="/dashboard/reserve">Make Reservation</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <h1>{{user.first_name}}'s Dashboard</h1>
        </div>

        <div id="main">
            <div class="user-type">
                <h2>Reservations</h2>
                {% for reservation in reservations %}
                <div class="sec">
                    <div class="im"><img src="{{restaurant.image.url}}" alt="cover"></div>
                    <p>{{reservation.restaurant.name}} reservation for {{reservation.guests}} on {{reservation.date}} at {{reservation.time}} | Cancel</p>
                </div>
                    
                {% endfor %}
            </div>
            <div class="user-type">
                <h2>Restaurants owned</h2>
                {% for restaurant in user.restaurants_owned.all %}
                <div class="sec">
                    <div class="im"><img src="{{restaurant.image.url}}" alt="cover"></div>
                    <p class="ownedp">{{restaurant.name}} | Edit | Delete</p>
                </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
    
</body>
</html>