<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Reservation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/reserve.css' %}">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="nav">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/dashboard/add">New Restaurant</a></li>
                    <li><a href="/dashboard/reserve">Make Reservation</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <h1>Make Reservation</h1>
        </div>
        
        <div id="main">
                    {% for restaurant in restaurants %}
                    <div class="sec">
                        <div class="im"><img src="{{restaurant.image.url}}" alt="cover"></div>
                        <p><a href="/dashboard/view/{{restaurant.id}}">{{restaurant.name}}</a></p>
                        <p>Available | Reserve</p>
                    </div>
                    {% endfor %}
        </div>
    </div>
</body>
</html>