<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Reservation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <div id="container">
        <div id="nav">
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/dashboard/add">New Restaurant</a></li>
                <li><a href="/dashboard/reserve">Make Reservation</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <h1>Make Reservation</h1>
        <div id="main">
            <table class="table table-hover">
                <tbody>
                    {% for restaurant in restaurants %}
                    <tr>
                    <td> <img src="{{restaurant.image}}" alt="cover"></td>
                    <td><a href="/dashboard/view/{{restaurant.id}}">{{restaurant.name}}</a></td>
                    <td>fewr</td>
                    <td>@mdo</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>